{
	admin off
	log {
		output stdout
		format console
		level INFO
	}
}

{$CADDY_DOMAIN:localhost} {
	encode zstd gzip

	log {
		output stdout
		format console
		level INFO
	}

	reverse_proxy {$CADDY_UPSTREAM:host.docker.internal:8080}
}
